{% extends 'base.html' %}
{% load static %}

{% block title %} {{ event.event }} | speoau{% endblock %}

{% block banner %}{% endblock %}

{% block welcome %}{% endblock %}

{% block events %}
<div class="col-sm-12 col-md-9">
	<div class="title-tile">
    <h3 class="tile-header">{{ event.event }}</h3>
  </div>
  {% if user.is_authenticated %}
	  <ul>
      <li style="display:inline; float:right;"><a href="{% url 'posts:event_delete' event.pk %}" class="btn" data-toggle="tooltip" data-placement="bottom" title="Delete"><i style="font-size:20px" class="glyphicon glyphicon-trash"></i></a></li>
      <li style="display:inline; float:right;"><a href="{% url 'posts:publish_event' event.pk %}" class="btn" data-toggle="tooltip" data-placement="bottom" title="Publish"><i style="font-size:20px" class="glyphicon glyphicon-share"></i></a></li>
    </ul>
  {% endif %}
	<p style="font-family:Georgia; margin-top:10px; font-size:15px;"><strong>Date of Event: {{ event.event_date }}</strong></p>
	<p class="tile-text">{{ event.event_desc|safe }}</p>
</div>
{% endblock %}

{% block oil-watch %}{% endblock %}

{% block resources %}{% endblock %}

{% block gallery %}{% endblock %}

{% block vision %}{% endblock %}

